@using Syncfusion.EJ2.Maps;
@using Syncfusion.EJ2.HeatMap;
@using BudgetWise.Controllers;
@{
    ViewData["isDashboard"] = null;
    ViewData["PageTitle"] = "Demonstration - Register/Login to Visualize your Finances";

    var treemapData = ViewBag.TreemapData as IEnumerable<object>;
    var barChartData = ViewBag.BarChartData as IEnumerable<BarChartData>;
    var stackedColumnChartData = ViewBag.StackedColumnChartData as IEnumerable<dynamic>;
    var bubbleChartData = ViewBag.BubbleChartData as IEnumerable<BubbleChartData>;
    var monthlyTrendChartData = ViewBag.MonthlyTrendChartData as IEnumerable<MonthlyTrendData>;
    var stackedAreaChartData = ViewBag.StackedAreaChartData as IEnumerable<dynamic>;
}

<div class="row mb-0">
    <div class="col-12 col-md-4 mb-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead fs-6 fs-md-4">Total Income</span>
                <h1 class="display-6 fw-bold fs-4 fs-md-2">@ViewBag.TotalIncome</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead fs-6 fs-md-4">Total Expense</span>
                <h1 class="display-6 fw-bold fs-4 fs-md-2">@ViewBag.TotalExpense</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead fs-6 fs-md-4">Balance</span>
                <h1 class="display-6 fw-bold fs-4 fs-md-2">@ViewBag.Balance</h1>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 mb-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Expense by Category</h5>
                <h6>Last 7 Days</h6>
            </div>
            <div class="px-4 pb-4">
                @if (treemapData != null && treemapData.Any())
                {
                    <ejs-treemap id="treemap" enableDrillDown="true" dataSource="@treemapData" weightValuePath="amount"
                                 palette="@(new string[]{"#0e8d76","#a4b219","#cb9b00","#8a442c","#0454b5","#7d0a0a","#822690","#4c2090","#313e93","#0096ac"})"
                                 legendSettings="@(new Syncfusion.EJ2.TreeMap.TreeMapLegendSettings { Visible = true, Position = Syncfusion.EJ2.TreeMap.LegendPosition.Top })"
                                 format="c1" useGroupingSeparator leafItemSettings="@(new Syncfusion.EJ2.TreeMap.TreeMapLeafItemSettings { LabelPath = "categoryTitleWithIcon" })"
                                 width="auto" height="auto" background="#1a222b">
                        <e-treemap-legendsettings visible="true" position="@Syncfusion.EJ2.TreeMap.LegendPosition.Top" shape="@Syncfusion.EJ2.TreeMap.LegendShape.Circle">
                            <e-legendsettings-textstyle Color="white" Size="auto" />
                        </e-treemap-legendsettings>
                        <e-treemap-tooltipsettings visible="true" fill="#12161d" format="@("${categoryTitleWithIcon}<br>Amount: ${formattedAmount}")">
                            <e-tooltipsettings-border width="1"></e-tooltipsettings-border>
                            <e-tooltipsettings-textstyle color="#ffffff" fontFamily="inherit" size="15px"></e-tooltipsettings-textstyle>
                        </e-treemap-tooltipsettings>
                    </ejs-treemap>
                }
                else
                {
                    <p>No data available for the Treemap.</p>
                }
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Income vs Expense</h5>
                <h6>Last 7 Days</h6>
            </div>
            <div class="px-4 pb-4">
                @if (barChartData != null && barChartData.Any())
                {
                    <ejs-chart id="bar-chart" background="#1a222b" palettes='@(new string[] {"#65da41", "#ff4e48"})' width="100%" height="100%">
                        <e-chart-primaryxaxis valueType="Category" labelRotation="90" labelFormat="MMM dd" LabelIntersectAction="Rotate90" title="Day" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })">
                            <e-majorgridlines width="0"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-labelstyle color="#ffffff" textAlignment="Center"></e-labelstyle>
                        </e-chart-primaryxaxis>
                        <e-chart-primaryyaxis labelFormat="c0" title="Amount" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })">
                            <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-linestyle width="0"></e-linestyle>
                            <e-labelstyle color="#ffffff"></e-labelstyle>
                        </e-chart-primaryyaxis>
                        <e-series-collection>
                            <e-series dataSource="@barChartData" xName="day" yName="income" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" name="Income"></e-series>
                            <e-series dataSource="@barChartData" xName="day" yName="expense" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" name="Expense"></e-series>
                        </e-series-collection>
                        <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                            <e-legendsettings-textstyle color="#ffffff"></e-legendsettings-textstyle>
                        </e-chart-legendsettings>
                        <e-chart-tooltipsettings enable="true" shared="true" fill="#12161d" format="@("${series.name}: ${point.y}")">
                            <e-tooltipsettings-border width="1"></e-tooltipsettings-border>
                            <e-tooltipsettings-textstyle color="#ffffff" fontFamily="inherit" size="15px"></e-tooltipsettings-textstyle>
                        </e-chart-tooltipsettings>
                    </ejs-chart>

                }
                else
                {
                    <p>No data available for the Bar Chart.</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 mb-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Income vs Expense</h5>
                <h6>Last 30 Days</h6>
            </div>
            <div class="px-4 pb-4">
                @if (stackedColumnChartData != null && stackedColumnChartData.Any())
                {
                    <ejs-chart id="stacked-column-chart" background="#1a222b" palettes='@(new string[] {"#65da41", "#ff4e48"})' width="100%" height="100%">
                        <e-chart-primaryxaxis valueType="DateTime" title="Day" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })"
                                              labelRotation="90" LabelIntersectAction="Rotate90" labelFormat="MMM dd" intervalType="Days" edgeLabelPlacement="Shift">
                            <e-majorgridlines width="0"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-labelstyle color="#ffffff" textAlignment="Center"></e-labelstyle>
                        </e-chart-primaryxaxis>
                        <e-chart-primaryyaxis labelFormat="c0" title="Amount" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })">
                            <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-linestyle width="0"></e-linestyle>
                            <e-labelstyle color="#ffffff"></e-labelstyle>
                        </e-chart-primaryyaxis>
                        <e-chart-chartarea>
                            <e-chartarea-border width="0"></e-chartarea-border>
                        </e-chart-chartarea>
                        <e-series-collection>
                            <e-series dataSource="@stackedColumnChartData" xName="Date" yName="Income" name="Income" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingColumn"></e-series>
                            <e-series dataSource="@stackedColumnChartData" xName="Date" yName="Expense" name="Expense" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingColumn"></e-series>
                        </e-series-collection>
                        <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                            <e-legendsettings-textstyle color="#ffffff"></e-legendsettings-textstyle>
                        </e-chart-legendsettings>
                        <e-chart-tooltipsettings enable="true" shared="true" fill="#12161d" format="@("${series.name}: ${point.y}")">
                            <e-tooltipsettings-border width="1"></e-tooltipsettings-border>
                            <e-tooltipsettings-textstyle color="#ffffff" fontFamily="inherit" size="15px"></e-tooltipsettings-textstyle>
                        </e-chart-tooltipsettings>
                    </ejs-chart>

                }
                else
                {
                    <p>No data available for the Stacked Column Chart.</p>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Number of Transactions</h5>
                <h6>Last 12 Months From First Entry</h6>
            </div>
            <div class="px-4 pb-4">
                @if (bubbleChartData != null && bubbleChartData.Any())
                {
                    <ejs-chart id="bubble-chart" background="#1a222b" width="100%" height="100%">
                        <e-chart-primaryxaxis visible="true" title="Transaction Count" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })" labelRotation="0"
                                              interval="3" enableTrim="true" labelIntersectAction="Trim" maximumLabelWidth="40" labelPlacement="OnTicks">
                            <e-majorgridlines width="0"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-labelstyle color="#ffffff"></e-labelstyle>
                        </e-chart-primaryxaxis>
                        <e-chart-primaryyaxis labelFormat="c0" title="Amount" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })">
                            <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-linestyle width="0"></e-linestyle>
                            <e-labelstyle color="#ffffff"></e-labelstyle>
                        </e-chart-primaryyaxis>
                        <e-series-collection>
                            @foreach (var typeGroup in bubbleChartData.GroupBy(d => d.type))
                            {
                                <e-series dataSource="@typeGroup.OrderBy(d => d.size)" xName="size" yName="amount" size="size" name="@typeGroup.Key" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Bubble" fill="@((typeGroup.Key == "Income") ? "#65da41" : "#ff4e48")" tooltipMappingName="category">
                                    <e-series-marker width="10" height="10" opacity="0.8"></e-series-marker>
                                </e-series>
                            }
                        </e-series-collection>
                        <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                            <e-legendsettings-textstyle color="#ffffff"></e-legendsettings-textstyle>
                        </e-chart-legendsettings>
                        <e-chart-tooltipsettings enable="true" shared="false" fill="#12161d" format="Category: ${point.tooltip}<br/>Amount: ${point.y}<br/>Transactions: ${point.size}">
                            <e-tooltipsettings-border width="1"></e-tooltipsettings-border>
                            <e-tooltipsettings-textstyle color="#ffffff" fontFamily="inherit" size="15px"></e-tooltipsettings-textstyle>
                        </e-chart-tooltipsettings>
                    </ejs-chart>
                }
                else
                {
                    <p>No data available for the Bubble Chart.</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 mb-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Monthly Trend</h5>
                <h6>Last 12 Months from First Entry</h6>
            </div>
            <div class="px-4 pb-4">
                @if (monthlyTrendChartData != null && monthlyTrendChartData.Any() && monthlyTrendChartData.Any(data => data.Income != 0 || data.Expense != 0 || data.Balance != 0))
                {
                    <ejs-chart id="monthly-trend-chart" background="#1a222b" palettes='@(new string[] {"#2cb850", "#e61f1f", "#ffa500"})' width="100%" height="100%">
                        <e-chart-primaryxaxis valueType="Category" labelRotation="90" LabelIntersectAction="Rotate90" title="Month" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })">
                            <e-majorgridlines width="0"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-labelstyle color="#ffffff" textAlignment="Center"></e-labelstyle>
                        </e-chart-primaryxaxis>
                        <e-chart-primaryyaxis labelFormat="c0" title="Amount" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })">
                            <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                            <e-majorticklines width="1"></e-majorticklines>
                            <e-labelstyle color="#ffffff"></e-labelstyle>
                        </e-chart-primaryyaxis>
                        <e-series-collection>
                            <e-series dataSource="@monthlyTrendChartData" xName="Month" yName="Income" name="Income" type="Line" width="3" fill="#2cb850"></e-series>
                            <e-series dataSource="@monthlyTrendChartData" xName="Month" yName="Expense" name="Expense" type="Line" width="3" fill="#e61f1f"></e-series>
                            <e-series dataSource="@monthlyTrendChartData" xName="Month" yName="Balance" name="Balance" type="Line" width="3" fill="#ffa500"></e-series>
                        </e-series-collection>
                        <e-chart-legendsettings>
                            <e-legendsettings-textstyle color="#ffffff"></e-legendsettings-textstyle>
                        </e-chart-legendsettings>
                        <e-chart-tooltipsettings enable="true" shared="true" fill="#12161d" format="@("${series.name}: ${point.y}")">
                            <e-tooltipsettings-border width="1"></e-tooltipsettings-border>
                            <e-tooltipsettings-textstyle color="#ffffff" fontFamily="inherit" size="15px"></e-tooltipsettings-textstyle>
                        </e-chart-tooltipsettings>
                    </ejs-chart>
                }
                else
                {
                    <p>No data available for the Monthly Trend Chart.</p>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Income vs Expense</h5>
                <h6>Last 12 Months from First Entry</h6>
            </div>
            <div class="px-4 pb-4">
                @if (stackedAreaChartData != null && stackedAreaChartData.Any())
                {
                    <ejs-chart id="stacked-area-chart" background="#1a222b" width="100%" height="100%">
                        <e-chart-primaryxaxis valueType="Category" title="Month" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })" labelRotation="90" LabelIntersectAction="Rotate90">
                            <e-majorgridlines width="0"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-labelstyle color="#ffffff" textAlignment="Center"></e-labelstyle>
                        </e-chart-primaryxaxis>
                        <e-chart-primaryyaxis labelFormat="c0" title="Amount" titleStyle="@(new Syncfusion.EJ2.Charts.ChartFont { Color = "white" })">
                            <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                            <e-majorticklines width="0"></e-majorticklines>
                            <e-linestyle width="0"></e-linestyle>
                            <e-labelstyle color="#ffffff"></e-labelstyle>
                        </e-chart-primaryyaxis>
                        <e-chart-chartarea>
                            <e-chartarea-border width="0"></e-chartarea-border>
                        </e-chart-chartarea>
                        <e-series-collection>
                            <e-series dataSource="@stackedAreaChartData" xName="Month" yName="Expense" name="Expense" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingArea" fill="#ff4e48"></e-series>
                            <e-series dataSource="@stackedAreaChartData" xName="Month" yName="Income" name="Income" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingArea" fill="#65da41"></e-series>
                        </e-series-collection>
                        <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                            <e-legendsettings-textstyle color="#ffffff" size="14px"></e-legendsettings-textstyle>
                        </e-chart-legendsettings>
                        <e-chart-tooltipsettings enable="true" shared="true" fill="#12161d" format="@("${series.name}: ${point.y}")">
                            <e-tooltipsettings-border width="1"></e-tooltipsettings-border>
                            <e-tooltipsettings-textstyle color="#ffffff" fontFamily="inherit" size="15px"></e-tooltipsettings-textstyle>
                        </e-chart-tooltipsettings>
                    </ejs-chart>

                }
                else
                {
                    <p>No data available for the Stacked Area Chart.</p>
                }
            </div>
        </div>
    </div>
</div>
